.date-setting  {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  padding: 0;
  margin: 0;
  display: flex;
  border: none;
}

.date-setting__list {
  @include reset-list-style();
}

.date-setting__item {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.date-setting__input {
  @include font-special(500);
  @include font-size(24px, 33px);

  text-align: center;
  margin: 0;
  padding: 0;
  height: 60px;
  width: 390px;
  border: 1px solid $black-color;
  border-radius: 4px;
  color: $black-color;
}

.date-setting__input::-webkit-calendar-picker-indicator {
  z-index: 5;
  margin: 0 10px 0 0;
  width: 45px;
  height: 45px;
  opacity: 0;
}

.date-setting__icon {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 1;
}
