.form-section {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  padding: 0 225px 0 270px;
  background-image: linear-gradient(90deg, $basic-blue-color 13.5%, $sky-blue-color 13.5%, $sky-blue-color 24%, $medium-blue-color 24%, $medium-blue-color 58.5%, $sky-blue-color 58.5%, $sky-blue-color 77.3%, $basic-blue-color 77.3%);
  box-shadow: inset -10px 230px 70px 0 $medium-blue-color;
}

.form-section__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1172px;
}

.form-section__text-wrapper {
  display: flex;
  flex-direction: column;
  margin: 103px 0 113px 0;
}

.form-section__title {
  @include font-special(700);
  @include font-size(54px, 63px);

  color: $white-color;
  width: fit-content;
  margin: 0 0 8px 0;
}

.form-section__img-wrapper {
  position: relative;
  margin: 0 0 0 180px;
  min-width: 400px;
  min-height: 400px;
}

.form-section__black-card {
  position: absolute;
  top: 120px;
  left: -30px;
  z-index: 5;
}

.form-section__white-card {
  position: absolute;
  top: 62px;
  left: 79px;
  z-index: 3;
}

.form-section__text {
  @include font-special(400);
  @include font-size(22px, 26px);

  width: 280px;
  margin: 0 0 33px 0;
  color: $white-color;
  z-index: 4;
}

.form-section__button {
  @include font-special(500);
  @include font-size(18px, 21px);

  border: none;
  text-decoration: none;
  color: $black-color;
  background-color: $bright-gray-color;
  margin: 0;
  width: fit-content;
  padding: 16px 37px;
  border-radius: 4px;
  box-shadow: 0 0 30px 50px $medium-blue-color;
  z-index: 3;
}
