$white-color: #ffffff;
$bright-gray-color: #F6F7FF;
$light-gray-color: #C1C2CA;
$gray-color: #707C87;
$black-color: #1F1E25;
$black-dark-gray-color: #222222;
$basic-blue-color: #2027B3;
$sky-blue-color: #3841FF;
$medium-blue-color: #2C36F2;
$special-opacity-black-color: rgba(0, 0, 0, 0.25);
